<section class="
		bg-[url(images/main/bg-main.jpg)] bg-center bg-cover relative pt-10 pb-10
		lg:pt-[18.75rem] lg:pb-[8.4375rem]
	">
	<div class="
	mx-auto px-4
	lg:max-w-[68.75rem]
	">
		<include src="src/components/section-1/slider-main.html"></include>

		<div class="flex justify-center items-center h-full flex-col">

			<h1 class="
			uppercase text-[#ccc] border-solid border border-[#ccc] font-intro leading-none text-[1.75rem] py-2 px-6 text-center mb-[4.5rem]
			lg:text-[2.5rem] lg:px-3 lg:mb-36 lg:py-2
			"><span class="uppercase">креативные кухни</span> и дизайнеры</h1>

			<p class="
			text-[#ccc] uppercase text-base/[1.5rem] mb-20 tracking-[0.25em] text-center
			 lg:text-xl lg:leading-none lg:tracking-[0.5em] lg:mb-52
			">Партнерство профессиональных дизайнеров и архитекторов</p>

			<div class="
			flex flex-col gap-y-6
			lg:ml-auto lg:flex-row lg:gap-x-5
			">
				<p class="
				italic text-[#ccc] leading-none text-lg
				lg:text-xl
				">
					У Вас есть интресные проекты?<br>
					У нас есть все, чтобы воплотить их в жизнь
				</p>

				<button class="btn-primary">
					Начать сотрудничество<img src="images/button/array-right.svg" alt="">
				</button>
			</div>

			<ul class="
			list-none m-0 p-0 w-full flex flex-col mt-14 items-center gap-6
			md:flex-row md:justify-between md:items-center md:mt-20
			">
				<li>
					<div class="flex mb-2 h-16
					lg:h-36 lg:items-center lg:mb-7 justify-center">
						<img src="images/figure-1.svg" alt="" class="
					lg:w-28
					">
					</div>
					<p class="
					leading-none text-[#ccc] text-lg text-center
					lg:text-xl lg:text-left
					">
						<span class="font-medium">Более 25 лет</span><br>
						работы на рынке
					</p>
				</li>
				<li>
					<div class="flex mb-2 h-16
					lg:h-36 lg:items-center lg:mb-7 justify-center">
						<img src="images/figure-2.svg" alt="" class="
						lg:w-28
						">
					</div>
					<p class="
					leading-none text-[#ccc] text-lg text-center
					lg:text-xl lg:text-left
					">
						Широкое<br class="
						hidden
						lg:block
						">
						<span class="font-medium">разнообразие</span><br>
						материалов
					</p>
				</li>
				<li>
					<div class="flex mb-2 h-16
					lg:h-36 lg:items-center lg:mb-7 justify-center">
						<img src="images/figure-3.svg" alt="" class="
						lg:w-28
						">
					</div>
					<p class="
					leading-none text-[#ccc] text-lg text-center
					lg:text-xl lg:text-left
					">
						Кухни и корпусная<br class="
						hidden
						lg:block
						">
						мебель<br>
						<span class="font-medium">для всего дома</span>
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>