<section
  class="relative bg-[url(images/main/bg-main.jpg)] bg-cover bg-center pb-10 pt-9 lg:pb-[8.4375rem] lg:pt-[19.375rem]"
>
  <div class="mx-auto px-4 lg:max-w-[68.75rem]">
    <include src="src/components/section-1/slider-main.html"></include>

    <div class="flex h-full flex-col items-center justify-center">
      <h1
        class="mb-[4.5rem] border border-solid border-[#ccc] px-6 py-2 text-center font-intro text-[1.75rem] uppercase leading-none text-[#ccc] lg:mb-36 lg:px-3 lg:py-4 lg:text-[2.5rem]"
      >
        <span class="uppercase">креативные кухни</span> и дизайнеры
      </h1>

      <p
        class="mb-20 text-center text-base/[1.5rem] uppercase tracking-[0.25em] text-[#ccc] lg:mb-52 lg:text-xl lg:leading-none lg:tracking-[0.5em]"
      >
        Партнерство профессиональных дизайнеров и архитекторов
      </p>

      <div class="flex flex-col gap-y-6 lg:ml-auto lg:flex-row lg:gap-x-5">
        <p class="text-lg italic leading-none text-[#ccc] lg:text-xl">
          У Вас есть интресные проекты?<br />
          У нас есть все, чтобы воплотить их в жизнь
        </p>

        <button class="btn-primary">
          Начать сотрудничество<img
            src="images/button/array-right.svg"
            alt=""
          />
        </button>
      </div>

      <ul
        class="m-auto mt-14 flex w-full max-w-4xl list-none flex-col items-center gap-6 p-0 md:mt-20 md:flex-row md:items-start md:justify-between"
      >
        <li>
          <div
            class="mb-2 flex h-16 justify-center lg:mb-5 lg:h-[7.1875rem] lg:items-center"
          >
            <img src="images/figure-1.svg" alt="" class="lg:w-[6.25rem]" />
          </div>
          <p
            class="text-center text-lg leading-none text-[#ccc] lg:text-left lg:text-xl lg:leading-none"
          >
            <span class="font-medium">Более 25 лет</span><br />
            работы на рынке
          </p>
        </li>
        <li>
          <div
            class="mb-2 flex h-16 justify-center lg:mb-5 lg:h-[7.1875rem] lg:items-center"
          >
            <img src="images/figure-2.svg" alt="" class="lg:w-[6.25rem]" />
          </div>
          <p
            class="text-center text-lg leading-none text-[#ccc] lg:text-left lg:text-xl lg:leading-none"
          >
            Широкое<br class="hidden lg:block" />
            <span class="font-medium">разнообразие</span><br />
            материалов
          </p>
        </li>
        <li>
          <div
            class="mb-2 flex h-16 justify-center lg:mb-5 lg:h-[7.1875rem] lg:items-center"
          >
            <img src="images/figure-3.svg" alt="" class="lg:w-[6.25rem]" />
          </div>
          <p
            class="text-center text-lg leading-none text-[#ccc] lg:text-left lg:text-xl lg:leading-none"
          >
            Кухни и корпусная<br class="hidden lg:block" />
            мебель<br />
            <span class="font-medium">для всего дома</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
