<div
  class="relative z-40 mb-10 flex flex-col items-start gap-1 lg:absolute lg:left-16 lg:top-20 lg:mb-0 lg:h-5/6 lg:flex-row lg:items-end xl:left-[10.625rem]"
>
  <p
    class="flex items-center gap-3 text-sm uppercase tracking-[0.5em] text-white lg:rotate-180 lg:text-[.9375rem] lg:[writing-mode:vertical-lr]"
  >
    Клуб дизайнеров<img
      src="images/main/24.svg"
      alt=""
      class="rotate-90 lg:rotate-180"
    />
  </p>
  <div class="flex h-full flex-col items-center">
    <div
      class="relative hidden h-full w-px bg-gradient-to-b from-[rgba(255,255,255,20%)] via-[rgba(255,255,255,20%)] via-80% to-[rgba(255,255,255,0%)] pb-32 pt-56 lg:block"
    >
      <div class="relative h-full">
        <div
          class="absolute top-0 size-[.375rem] -translate-x-1/2 rounded-full bg-[rgba(255,255,255,20%)]"
        ></div>
        <div
          class="absolute top-1/4 size-[.375rem] -translate-x-1/2 rounded-full bg-[rgba(255,255,255,20%)]"
        ></div>
        <div
          class="absolute top-2/4 size-[.375rem] -translate-x-1/2 rounded-full bg-[rgba(255,255,255,20%)]"
        ></div>
        <div
          class="absolute top-3/4 flex size-16 -translate-x-1/2 items-center justify-center rounded-full bg-[rgba(255,255,255,20%)] text-3xl text-white"
        >
          4
        </div>
        <div
          class="absolute top-full size-[.375rem] -translate-x-1/2 rounded-full bg-[rgba(255,255,255,20%)]"
        ></div>
      </div>
    </div>

    <div
      class="text-[1.75rem] leading-[2.75rem] text-[rgba(255,255,255,20%)] lg:rotate-180 lg:text-3xl lg:leading-none lg:[writing-mode:vertical-lr]"
    >
      <span class="text-[#ccc]">03</span>/05
    </div>
  </div>
</div>
