<header
  class="bg-black py-4 text-[#ccc] lg:pb-6 lg:pt-6"
  x-data="{
	open: false,
	toggleOpen() {
		this.open = !this.open
	},
	init() {
		window.addEventListener('click', (event) => {
			const target = event.target
			if (target !== document.querySelector('#menu') && target !== document.querySelector('#menu-button')) {
				this.open = false
			}
		})
	}
}"
>
  <div
    class="mx-auto flex max-w-[103.125rem] items-center px-4 lg:justify-between"
  >
    <a class="2xl:-mt-2 2xl:w-24" href="#">
      <img class="w-12 xl:w-28" src="images/logo-main.svg" alt="" />
    </a>

    <div class="ml-auto flex items-center">
      <ul class="flex list-none items-center gap-11 lg:hidden lg:gap-8">
        <li>
          <a href="#">
            <img src="images/tg-main.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/whatsapp-main.svg" alt="" />
          </a>
        </li>
      </ul>

      <include src="src/components/header/menu.html"></include>

      <button
        id="menu-button"
        x-on:click="toggleOpen()"
        class="hamburger relative ml-9 w-8 px-1 py-2 before:relative before:mb-3 before:block before:h-px before:w-full before:bg-white before:content-[''] after:relative after:block after:h-px after:w-full after:bg-white after:content-[''] lg:hidden"
      ></button>
    </div>
  </div>
</header>
