<div
  id="menu"
  class="fixed -right-full top-0 z-50 flex h-screen max-w-80 flex-col justify-between gap-10 bg-black p-6 transition-all lg:relative lg:right-auto lg:top-auto lg:h-auto lg:max-w-none lg:flex-row lg:p-0"
  :class="open ? 'right-0' : ''"
>
  <div class="items-center gap-x-20 lg:flex">
    <form
      id="search-form"
      method="post"
      class="mb-10 flex items-center gap-3 lg:mb-0 lg:gap-0"
    >
      <label for="search">
        <img src="images/search-main.svg" class="w-5 lg:w-8" alt="" />
      </label>
      <input
        type="text"
        name="search"
        id="search"
        class="w-24 border-none bg-transparent p-3 text-sm uppercase leading-5 outline-none lg:text-[1.0625rem]"
        placeholder="Поиск"
      />
    </form>

    <ul
      class="flex list-none flex-col gap-4 text-nowrap text-sm uppercase lg:flex-row lg:gap-11 lg:text-[1.0625rem]"
    >
      <li>
        <a href="#" class="transition-colors hover:text-[#01859a]">Домой</a>
      </li>
      <li>
        <a href="#" class="transition-colors hover:text-[#01859a]">О нас</a>
      </li>
      <li>
        <a href="#" class="transition-colors hover:text-[#01859a]">Сервис</a>
      </li>
      <li>
        <a href="#" class="transition-colors hover:text-[#01859a]">Портфолио</a>
      </li>
      <li>
        <a href="#" class="transition-colors hover:text-[#01859a]">Контакты</a>
      </li>
    </ul>
  </div>

  <ul class="flex list-none items-center gap-8">
    <li>
      <a href="#">
        <img src="images/vk-main.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/ok-main.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/tg-main.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/dz-main.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/whatsapp-main.svg" alt="" />
      </a>
    </li>
  </ul>
</div>
