<div class="flex flex-col xl:flex-row xl:gap-7">
  <div class="mb-4 xl:mb-0 xl:min-w-28">
    <img class="block w-[4.375rem] xl:ml-auto" src="{{ src }}" alt="" />
  </div>

  <div class="xl:pt-3">
    <p
      class="mb-4 text-lg/6 font-medium uppercase tracking-[0.2em] text-[#ccc] xl:mb-3 xl:text-lg/none"
    >
      {{ title }}
    </p>

    <p class="text-[#a6a6a6] xl:text-lg/none">{{ text }}</p>

    <a
      class="mt-3 block italic text-[#01859a] xl:mt-4 xl:text-lg/none"
      href="{{ link }}"
    >
      {{ linkText }}
    </a>
  </div>
</div>
