<section class="relative py-28 lg:py-52">
  <div
    class="absolute left-4 top-0 h-full w-px bg-[rgba(220,220,220,10%)] lg:left-[20%]"
  >
    <div class="relative h-full">
      <div
        class="absolute top-[80%] h-4 w-[.1875rem] -translate-x-1/2 bg-[#01859a]"
      ></div>
    </div>
  </div>
  <div
    class="absolute left-1/3 top-0 h-full w-px bg-[rgba(220,220,220,10%)] lg:left-[40%]"
  ></div>
  <div
    class="absolute left-2/3 top-0 h-full w-px bg-[rgba(220,220,220,10%)] lg:left-[60%]"
  >
    <div class="relative h-full">
      <div
        class="absolute top-[5%] h-4 w-[.1875rem] -translate-x-1/2 bg-[#01859a]"
      ></div>
    </div>
  </div>
  <div
    class="absolute right-4 top-0 h-full w-px bg-[rgba(220,220,220,10%)] lg:left-[80%]"
  >
    <div class="relative h-full">
      <div
        class="absolute top-[15%] h-4 w-[.1875rem] -translate-x-1/2 bg-[#01859a]"
      ></div>
    </div>
  </div>

  <div
    class="relative z-10 flex max-w-[1780px] flex-1 flex-col px-4 xl:ml-auto xl:flex-row xl:items-center xl:gap-56"
  >
    <div class="flex flex-[4_1_0%] flex-col xl:flex-row xl:gap-24">
      <div class="2xl:flex-[4_1_0%]">
        <div class="mb-12 xl:mb-20">
          <include
            src="src/components/section-3/advantages-double-text-link.html"
            locals='{
						"value": "90+",
						"title": "Моделей мебели",
						"firstText": "Тренды, стиль, красота – вот, что Вы создаёте! А мы делаем так, чтобы Ваши интерьерные идеи были воплощены наилучшим образом. В коллекциях КД десятки кухонь, гостиных и прихожих самой разнообразной стилистики.",
						"secondText": "Всё это – инструментарий для Вашего творчества!",
						"linkText": "Каталог наших моделей",
						"link": "#"
						}'
          ></include>
        </div>

        <div class="mb-12">
          <include
            src="src/components/section-3/advantages.html"
            locals='{
					"value": "20+20",
					"title": "40 салонов в Москве и Подмосковье",
					"text": "Вы – партнёр КД? Тогда поздравляем – у Вас есть более 40 «офисов» в Москве и Подмосковье! Речь о салонах и коворкинг-зонах, где Вы можете в комфортной обстановке обсудить с заказчиком дизайн-проект."
					}'
          ></include>
        </div>
      </div>

      <div class="2xl:flex-[5_1_0%]">
        <div class="mb-12 xl:mb-20">
          <include
            src="src/components/section-3/advantages-link.html"
            locals='{
					"value": "900+",
					"title": "цветовых решений",
					"text": "С КД дизайнер – истинный Творец. В Вашем распоряжении огромное разнообразие материалов и цветофактурных решений!",
					"linkText": "Подробнее",
					"link": "#"
					}'
          ></include>
        </div>

        <div class="mb-12 xl:mb-16">
          <include
            src="src/components/section-3/advantages.html"
            locals='{
					"value": "12 лет",
					"title": "Постгарантийный и гарантийный сервис",
					"text": "Мебель от бренда КД – высокотехно-логичный продукт, на который распро-страняется длительная гарантия. Мы работаем, чтобы Ваши заказчики оставались довольны в любой ситуации!"
					}'
          ></include>
        </div>

        <div class="mb-12">
          <include
            src="src/components/section-3/advantages-image-link.html"
            locals='{
					"src": "images/section-3/figure-1.svg",
					"title": "40 салонов в Москве и Подмосковье",
					"text": "С КД дизайнер – истинный Творец. В Вашем распоряжении огромное разнообразие материалов и цветофактурных решений!",
					"linkText": "Начать сотрудничество",
					"link": "#"
					}'
          ></include>
        </div>
      </div>
    </div>

    <div class="flex-[3_1_0%] xl:w-[38.75rem]">
      <img
        class="hidden w-full xl:block"
        src="images/section-3/photo.png?as=webp"
        alt=""
      />
    </div>
  </div>
</section>
