<header class="bg-black py-4
2xl:pt-6 2xl:pb-6 text-[#ccc]
" x-data="{
	open: false,
	toggleOpen() {
		this.open = !this.open
	},
	init() {
		window.addEventListener('click', (event) => {
			const target = event.target
			if (target !== document.querySelector('#menu') && target !== document.querySelector('#menu-button')) {
				this.open = false
			}
		})
	}
}">
	<div class="
	max-w-[103.125rem] mx-auto px-4 flex items-center
	lg:justify-between
	">
		<a class="2xl:w-28 2xl:-mt-2" href="#">
			<img class="
				w-12
				xl:w-28
			" src="images/logo-main.svg" alt="">
		</a>

		<div class="ml-auto flex items-center">
			<ul class="
		list-none flex items-center gap-11
		lg:hidden lg:gap-8
		">
				<li><a href="#">
						<img src="images/tg-main.svg" alt="">
					</a></li>
				<li><a href="#">
						<img src="images/whatsapp-main.svg" alt="">
					</a></li>
			</ul>

			<include src="src/components/menu.html"></include>

			<button id="menu-button" x-on:click="toggleOpen()" class="
			hamburger relative lg:hidden w-8 py-2 px-1 ml-9
			before:mb-3 before:content-[''] before:block before:relative before:w-full before:h-px before:bg-white after:content-['']
			after:block after:relative after:w-full after:h-px after:bg-white
			"></button>
		</div>
	</div>
</header>