<section class="
bg-[#2b2b2b] relative
lg:py-52
">
<div class="absolute w-px top-0 left-[20%] h-full bg-[rgba(220,220,220,10%)]">
	<div class="relative h-full">
		<div class="
		absolute bg-[#01859a] w-[.1875rem] h-4 -translate-x-1/2 top-[80%]
		"></div>
	</div>
</div>
<div class="absolute w-px top-0 left-[40%] h-full bg-[rgba(220,220,220,10%)]"></div>
<div class="absolute w-px top-0 left-[60%] h-full bg-[rgba(220,220,220,10%)]"></div>
<div class="absolute w-px top-0 left-[80%] h-full bg-[rgba(220,220,220,10%)]"></div>

</section>