<div class="flex gap-1 z-40 relative flex-col items-start mb-10
lg:left-16 lg:top-20 lg:h-4/5 lg:absolute lg:flex-row lg:mb-0 lg:items-end
xl:left-36">
	<p class="
	tracking-[0.5em] text-white flex items-center gap-3 uppercase text-sm
	lg:text-[.9375rem] lg:[writing-mode:vertical-lr] lg:rotate-180
	">Клуб дизайнеров<img src="images/main/24.svg" alt="" class="
	rotate-90
	lg:rotate-180
	"></p>
	<div class="
flex flex-col items-center h-full
">
		<div class="
	bg-gradient-to-b from-[rgba(255,255,255,20%)] via-80% via-[rgba(255,255,255,20%)] to-[rgba(255,255,255,0%)] w-px relative h-full pt-56 pb-32 hidden
	lg:block
	">
			<div class="relative h-full">
				<div class="
		size-[.375rem] bg-[rgba(255,255,255,20%)] rounded-full absolute top-0 -translate-x-1/2
		"></div>
				<div class="
		size-[.375rem] bg-[rgba(255,255,255,20%)] rounded-full absolute top-1/4 -translate-x-1/2
		"></div>
				<div class="
		size-[.375rem] bg-[rgba(255,255,255,20%)] rounded-full absolute top-2/4 -translate-x-1/2
		"></div>
				<div class="
		bg-[rgba(255,255,255,20%)] rounded-full absolute top-3/4 -translate-x-1/2
		size-16 text-3xl text-white flex justify-center items-center
		">
					4
				</div>
				<div class="
		size-[.375rem] bg-[rgba(255,255,255,20%)] rounded-full absolute top-full -translate-x-1/2
		"></div>
			</div>
		</div>

		<div class="
		text-[1.75rem] text-[rgba(255,255,255,20%)] leading-[2.75rem]
		lg:text-3xl lg:[writing-mode:vertical-lr] lg:rotate-180 lg:leading-none
		">
			<span class="text-[#ccc]">03</span>/05
		</div>
	</div>
</div>