<section
  class="relative bg-[rgba(0,0,0,70%)] bg-[url(images/section-4/bg.png?as=webp)] bg-cover bg-center py-10 bg-blend-overlay lg:pb-32 lg:pt-28"
>
  <div
    class="absolute left-[9%] top-0 hidden -translate-y-1/2 rotate-180 items-center gap-3 text-[.9375rem] text-sm uppercase tracking-[0.5em] text-white [writing-mode:vertical-lr] 2xl:flex"
  >
    Клуб дизайнеров<img
      src="images/main/24.svg"
      alt=""
      class="rotate-90 lg:rotate-180"
    />
  </div>
  <div class="m-auto max-w-[65rem] px-3">
    <ul
      class="flex w-full list-none flex-col items-center gap-6 p-0 md:flex-row md:items-center md:justify-between"
    >
      <li>
        <div
          class="mb-2 flex h-16 justify-center lg:mb-7 lg:h-36 lg:items-center"
        >
          <img src="images/figure-1.svg" alt="" class="lg:w-28" />
        </div>
        <p
          class="text-center text-lg leading-none text-[#ccc] lg:text-left lg:text-xl"
        >
          <span class="font-medium">Более 25 лет</span><br />
          работы на рынке
        </p>
      </li>
      <li>
        <div
          class="mb-2 flex h-16 justify-center lg:mb-7 lg:h-36 lg:items-center"
        >
          <img src="images/figure-2.svg" alt="" class="lg:w-28" />
        </div>
        <p
          class="text-center text-lg leading-none text-[#ccc] lg:text-left lg:text-xl"
        >
          Широкое<br class="hidden lg:block" />
          <span class="font-medium">разнообразие</span><br />
          материалов
        </p>
      </li>
      <li>
        <div
          class="mb-2 flex h-16 justify-center lg:mb-7 lg:h-36 lg:items-center"
        >
          <img src="images/figure-3.svg" alt="" class="lg:w-28" />
        </div>
        <p
          class="text-center text-lg leading-none text-[#ccc] lg:text-left lg:text-xl"
        >
          Кухни и корпусная мебель<br />
          <span class="font-medium">для всего дома</span>
        </p>
      </li>
    </ul>
  </div>
</section>
