<section
  class="relative z-10 -mt-28 bg-[#272727] px-4 [clip-path:polygon(0_20%,100%_0%,100%_80%,0%_100%);] lg:-mt-80"
>
  <div
    class="absolute left-4 top-0 h-full w-px bg-[rgba(220,220,220,10%)] lg:left-[20%]"
  >
    <div class="relative h-full">
      <div
        class="absolute top-[80%] h-4 w-[.1875rem] -translate-x-1/2 bg-[#01859a]"
      ></div>
    </div>
  </div>
  <div
    class="absolute left-1/3 top-0 h-full w-px bg-[rgba(220,220,220,10%)] lg:left-[40%]"
  ></div>
  <div
    class="absolute left-2/3 top-0 h-full w-px bg-[rgba(220,220,220,10%)] lg:left-[60%]"
  >
    <div class="relative h-full">
      <div
        class="absolute top-[5%] h-4 w-[.1875rem] -translate-x-1/2 bg-[#01859a]"
      ></div>
    </div>
  </div>
  <div
    class="absolute right-4 top-0 h-full w-px bg-[rgba(220,220,220,10%)] lg:left-[80%]"
  >
    <div class="relative h-full">
      <div
        class="absolute top-[15%] h-4 w-[.1875rem] -translate-x-1/2 bg-[#01859a]"
      ></div>
    </div>
  </div>

  <div class="m-auto max-w-[71.25rem]">
    <div class="max-w-[21.875rem] py-32 lg:ml-36 lg:py-80">
      <h2
        class="mb-8 font-intro text-[1.75rem]/[2.5rem] uppercase text-[#ccc] lg:mb-12 lg:text-3xl/[3.125rem]"
      >
        <span class="text-[#078295]">Клуб</span> дизайнеров
        <span class="text-[#078295]">КД</span>
      </h2>

      <p class="text-lg/6 text-white lg:text-xl/none">
        Вступите в клуб дизайнеров и получите «Дизайн-бокс КД» с материалами и
        образцами для удобной работы над проектами клиентов!
      </p>

      <a href="#" class="btn-primary mt-6 pl-[70px] pr-8 lg:mt-36"
        >Хочу в клуб!<img src="images/button/array-right.svg" alt=""
      /></a>
    </div>
  </div>

  <div
    class="absolute left-[60%] right-[20%] top-0 hidden h-full bg-[rgba(0,0,0,30%)] bg-[url(images/section-6/photo.png?as=webp)] bg-cover bg-center bg-blend-overlay lg:block"
  ></div>
</section>
